gspread-pandas
gsheetsdb
pandas
pytest
matplotlib==3.6.0
snowflake-connector-python
snowflake-connector-python[pandas]
streamlit
snowflake-sqlalchemy
streamlit-aggrid
pymc==4.2.2
graphviz
jupyterlab
seaborn
xarray
arviz
scikit-learn
swifter
plotly